.home-container {
    width: 100%;
    height: 100vh;
  
    padding: 50px;
  
    background-color: #ebebeb;
        
  }

  .home-content {
    cursor: pointer;
  }
  
  .home-titulo-card {
    display: flex;
    align-items: center;
  }
  
  .home-card-produto-container {
    display: flex;
  }
  
  .home-titulo-card p {
    font-size: 26px;
    color: #666;
    font-weight: 300;
  }
  
  .home-titulo-card span {
    font-size: 16px;
    color: #3483fa;
    font-weight: 300;
  
    margin-left: 15px;
  }
  
  .home-card-produto {
    display: flex;
    align-items: center;
    justify-content: center;
  
    flex-direction: column;
  
    width: 240px;
    height: 330px;
  
    border-radius: 7px;
  
    margin: 0 7px;

  }
  
  .home-card-imagem {
    width: 100%;
    height: 224px;
  
    background-color: #fff;
  
    border-radius: 7px;
  }
  
  .home-card-imagem img {
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
  
    border-radius: 7px;
    padding: 5px 5px;
    margin: 25px 25px;
  }
  
  .home-card-info {
    width: 100%;
    height: 70px; /*106 */
    border-radius: 7px 7px 0 0;
  
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  
    padding: 10px;
  
    background-color: #fff;
  
    border-top: 1px solid #e6e6e6;

    transition: 0.2s;
  }
  
  .home-card-info div:first-child {
    display: flex;
    flex-direction: column;
  }
  
  .home-card-info p {
    font-size: 16px;
  }
  
  .home-card-info .card-info-detalhes {
    font-size: 12px;
  }
  
  .home-card-info .card-info-frete {
    font-size: 12px;
    color: #00a650;
  }
  
 /* .home-card-info .card-info-descricao {
    font-size: 12px;
    color: #666;
  }*/

  .card-info-descricao {
    font-size: 12px;
    color: #666;
      
    background-color: #fff;
    padding: 10px;
    display: none;

    width: 100%;
    height: 106px;

    border-radius: 0 0 7px 7px;

    transition: 0.2s;
        
  }

  .home-card-info:hover + .card-info-descricao {
      display: block;
  }